.App {
  text-align: center;
}


.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.card-body {
  padding: 20px;
}

.footer{
  background-color: rgb(108,108,132);
  backdrop-filter: blur(10px);
  color: #fff;
  text-align: center;
  vertical-align: middle;
  height: 6vh;
  font-weight: bold;
  border-top: 3px;
  align-items: center;
  
}

.App-header {
  background-color: #1f2029;
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  font-weight: 300;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  padding-top: 10%;
  font-family: "popins", sans-serif;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
